@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body {
    padding: 2vw;
    margin: auto;
    display: flex;
    min-height: 100vh;
    background: #222;
    background-image: repeating-linear-gradient(to bottom, transparent 7px,
            rgba(0, 0, 0, 0.8) 9px,
            rgba(0, 0, 0, 0.8) 13px,
            transparent 13px);
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://bestideadiy.com/wp-content/uploads/2023/06/1143632.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app {
    height: 630px;
    width: 600px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-size: 30px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.9);
    overflow: hidden;

}


h1 {
    font-size: 6rem !important;
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

header {
    margin-top: 20px;
}

@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

p {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

input[type="text"] {
    width: 300px;
    height: 30px;
    margin: auto;
}


.btn {
    font-family: arial;
    cursor: pointer;
}

.btn:active {
    box-shadow:
        7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(3px);

}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background: transparent;
    color: #000;
    padding: 5px;
}